.formater-pdf-viewer * {
  padding: 0;
  margin: 0;
}
.formater-pdf-viewer input,
.formater-pdf-viewer button,
.formater-pdf-viewer select {
  font: message-box;
  outline: none;
}

.formater-pdf-viewer .toolbar {
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
  cursor: default;
}

.formater-pdf-viewer .toolbarContainer {
  width: 100%;
  position: relative;
  height: 32px;
  background-color: #474747; /* fallback */
  border-color:#474747;
  border-style: solid;
  border-width:0 1px;
  
  box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
              inset 0 1px 1px hsla(0,0%,0%,.15),
              inset 0 -1px 0 hsla(0,0%,100%,.05),
              0 1px 0 hsla(0,0%,0%,.15),
              0 1px 1px hsla(0,0%,0%,.1);
}


.formater-pdf-viewer .toolbarViewer {
  height: 32px;
}

.formater-pdf-viewer .toolbarViewerMiddle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.formater-pdf-viewer .toolbarViewerLeft{
  float: left;
}
.formater-pdf-viewer .toolbarViewerRight{
  float: right;
}
.formater-pdf-viewer .toolbarViewerLeft > *,
.formater-pdf-viewer .toolbarViewerMiddle > *,
.formater-pdf-viewer .toolbarViewerRight > * {
  position: relative;
  float: left;
}


 .formater-pdf-viewer .splitToolbarButton {
  margin: 0px 2px 0px 0;
  display: inline-block;
}

 .formater-pdf-viewer .splitToolbarButton > .toolbarButton {
  border-radius: 0;
  float: left;
}


.formater-pdf-viewer .toolbarButton {
  border: 0 none;
  background: none;
  width: 32px;
  height: 25px;
}

.formater-pdf-viewer .toolbarButton > span {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.formater-pdf-viewer .splitToolbarButton:hover > .toolbarButton,
.formater-pdf-viewer .splitToolbarButton:focus > .toolbarButton {
  background-color: hsla(0,0%,0%,.12);
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;

}
.formater-pdf-viewer .splitToolbarButton > .toolbarButton:hover,
.formater-pdf-viewer .splitToolbarButton > .toolbarButton:focus,
.formater-pdf-viewer .dropdownToolbarButton:hover {
  background-color: hsla(0,0%,0%,.2);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 0 1px hsla(0,0%,0%,.05);
  z-index: 199;
}
.formater-pdf-viewer .splitToolbarButton > .toolbarButton {
  position: relative;
}
.formater-pdf-viewer .splitToolbarButtonSeparator {
  padding: 8px 0;
  width: 1px;
  background-color: hsla(0,0%,0%,.5);
  z-index: 99;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.08);
  display: inline-block;
  margin: 5px 0;
}
.formater-pdf-viewer .splitToolbarButton:hover > .splitToolbarButtonSeparator {
  padding: 12px 0;
  margin: 1px 0;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.03);
  transition-property: padding;
  transition-duration: 10ms;
  transition-timing-function: ease;
}

.formater-pdf-viewer .toolbarButton{
  min-width: 16px;
  padding: 2px 6px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: hsla(0,0%,100%,.8);
  font-size: 12px;
  line-height: 14px;
  -moz-user-select: none;
  /* Opera does not support user-select, use <... unselectable="on"> instead */
  cursor: default;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
  margin: 3px 2px 4px 0;
  cursor:pointer;
}
.formater-pdf-viewer .toolbarButton[disabled]{
	cursor:default;
	opacity:0.5;
}
.formater-pdf-viewer a.toolbarButton{
	max-height:21px;
	max-width:18px;
}

.formater-pdf-viewer .toolbarButton:hover,
.formater-pdf-viewer .toolbarButton:focus,
.formater-pdf-viewer .dropdownToolbarButton {
  background-color: hsla(0,0%,0%,.12);
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 1px 0 hsla(0,0%,100%,.05);
}

.formater-pdf-viewer .toolbarButton:hover:active,
.formater-pdf-viewer .dropdownToolbarButton:hover:active {
  background-color: hsla(0,0%,0%,.2);
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.4) hsla(0,0%,0%,.45);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 10ms;
  transition-timing-function: linear;
}

.formater-pdf-viewer .dropdownToolbarButton {
  width: 120px;
  max-width: 120px;
  padding-top:1px;
  overflow: hidden;
}

.formater-pdf-viewer .dropdownToolbarButton > select {
  min-width: 140px;
  font-size: 12px;
  color: hsl(0,0%,95%);
  margin: 0;
  padding: 3px 2px 2px;
  border: none;
  background: rgba(0,0,0,0); /* Opera does not support 'transparent' <select> background */
}

.formater-pdf-viewer .dropdownToolbarButton > select > option {
  background: hsl(0,0%,24%);
}

.formater-pdf-viewer .toolbarButtonSpacer {
  width: 30px;
  display: inline-block;
  height: 1px;
}

.formater-pdf-viewer .toolbarButton::before{
  /* All matching images have a size of 16x16
   * All relevant containers have a size of 32x25 */
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 9px;
}

.formater-pdf-viewer .toolbarButton.pageUp::before {
  content: "\2b06";
}

.formater-pdf-viewer .toolbarButton.pageDown::before {
 	content:"\2b07";
 /*font-family: "FontAwesome";
  content:"\f063";*/
}

.formater-pdf-viewer .toolbarButton.zoomOut::before {
    content:"\2501";
    font-size:16px;
}

.formater-pdf-viewer .toolbarButton.zoomIn::before {
  content:"\2795";
  font-size:16px;
}

.formater-pdf-viewer .toolbarButton.presentationMode::before{
  /*font-family: "FontAwesome";
  content:"\f0b2";/*fa-arrows-alt*/
  content:"\2922";
  font-size:20px;
  left:7px;
  
}

.formater-pdf-viewer .toolbarButton.print::before{
  content:"\2399";
  font-size:20px;
  left:7px;
}

.formater-pdf-viewer .toolbarButton.openFile::before{
  content:"\2b07";
}

.toolbarButton.download::before {
  content:"\2b07";
  font-size:1.2em;
}

.formater-pdf-viewer .toolbarField {
  padding: 3px 6px;
  margin: 4px 0 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: hsla(0,0%,100%,.09);
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  color: hsl(0,0%,95%);
  font-size: 12px;
  line-height: 14px;
  outline-style: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.formater-pdf-viewer .toolbarField.pageNumber {
  -moz-appearance: textfield; /* hides the spinner in moz */
  min-width: 16px;
  text-align: right;
  width: 40px;
}

.formater-pdf-viewer .toolbarField:hover {
  background-color: hsla(0,0%,100%,.11);
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.43) hsla(0,0%,0%,.45);
}

.formater-pdf-viewer .toolbarField:focus {
  background-color: hsla(0,0%,100%,.15);
  border-color: hsla(204,100%,65%,.8) hsla(204,100%,65%,.85) hsla(204,100%,65%,.9);
}

.formater-pdf-viewer .toolbarLabel {
  min-width: 16px;
  padding: 3px 6px 3px 2px;
  margin: 4px 2px 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: hsl(0,0%,85%);
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  -moz-user-select: none;
  cursor: default;
}

/* TODO: file FF bug to support ::-moz-selection:window-inactive
   so we can override the opaque grey background when the window is inactive;
   see https://bugzilla.mozilla.org/show_bug.cgi?id=706209 */
::selection { background: rgba(0,0,255,0.3); }
::-moz-selection { background: rgba(0,0,255,0.3); }
.grab-to-pan-grab *:not(input):not(textarea):not(button):not(select):not(:link) {
  cursor: inherit !important;
}

@page {
  margin: 0;
}

@media screen and (min-resolution: 2dppx) {
  /* Rules for Retina screens */
  .formater-pdf-viewer .toolbarButton::before {
    transform: scale(0.5);
    top: -5px;
  }

  .formater-pdf-viewer .dropdownToolbarButton {
    background: url(images/toolbarButton-menuArrows@2x.png) no-repeat;
    background-size: 7px 16px;
  }

 
}

@media print {
  /* General rules for printing. */
  body {
    background: transparent none;
  }

  /* Rules for browsers that don't support mozPrintCallback. */
  .toolbar {
    display: none;
  }

  /* Rules for browsers that support PDF.js printing */
  /* wrapper around (scaled) print canvas elements */
}

@media all and (max-width: 900px) {
  .formater-pdf-viewer .toolbarViewerMiddle {
    display: table;
    margin: auto;
    left: auto;
    position: inherit;
    transform: none;
  }
}

@media all and (max-width: 640px) {
  .formater-pdf-viewer .hiddenMediumView, 
  .formater-pdf-viewer .hiddenMediumView * {
    display: none;
  }
  .formater-pdf-viewer .toolbarButtonSpacer {
    width: 0;
  }
}

@media all and (max-width: 535px) {
  .formater-pdf-viewer .scaleSelectContainer {
    display: none;
  }
}
